{% extends "admin/change_list.html" %}
{% load static %}

{% block content %}
  <style>
    .colorize-row {
        background-color: #ffdddd !important;
    }
  </style>
  {{ block.super }}
  <script type="text/javascript">
    (function($) {
      $(document).ready(function(){
        $('tr').each(function() {
          var mavzu = $(this).find('td:contains("sotib olmoqchi")');
          if (!mavzu.length) {
            $(this).addClass('colorize-row');
          }
        });
      });
    })(django.jQuery);
  </script>
{% endblock %}
