{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Инвесторлик шартномаси</title>
</head>
<body>
    <div class="contract">
        <h1>Инвесторлик шартномаси № 1</h1>
        <p class="Mulk">(Мулк эгасининг куп каватли турар жойни куриб уни сотиш хакида)</p>
        <p><strong>«31» Май 2024 йил</strong></p>
        <p><strong>Урганч шаҳри</strong></p>
        <p>“XORAZM ELITE HOUSE” Маъсулияти чеклаган жамияти раҳбари Гаипов Зокиржон Баходирович ўз Устави асосида шартнома буйича Сотувчи деб аталади ва фуқаро Шерова Феруза Худойберган кизи (паспорт: АВ 1611162 Хоразм вилоят Хонка туман Ватанпарвар МФЙ Андалиб кучаси 123 уй да яшовчи шартнома буйича Олувчи деб аталиб ўзаро музокарадан кейин қуйидаги шартномани туздилар:</p>
        
        <h2 class="Mulk">Шартноманинг мавзуси предмети ва қиймати</h2>
        <ul>
            <li>Сотувчи Урганч туман Хокимининг 30.10.2018-йилдаги 2716к-сонли карорига асосан Урганч шахар Фаёзов кучаси ҳудудида кўп қаватли, қўп хонадонли турар жой, 1-қавати савдо ва маиший хизмат қўрсатиш шахобчасидан иборат бино қуриб, уни келишилган нархларда фуқароларга ёки юридик шахсларга сотади.</li>
            <li>Олувчи юқорида курсатилган манзилдаги турар жойдан хонадон сотиб олиш учун олдиндан келишилган микдордаги маблагни тулаш мажбуриятини олади.</li>
            <li>Томонлар Урганч шахар Жаннатмакон кучаси 10-йулак 67-уйда жойлашган 1-кавати маиший хизмат курсатиш шахобчасидан иборат, куп каватли қўп ханодонли турар-жой биносининг 1-подезд, 1-каватида жойлашган 1 хоналик умумий майдони 39,78 м2 булган, № 30-хонадонни олди-сотдиси буйича (Асосий шартномада) Сотувчи сотади, Олувчи харидор хисобланади.</li>
            <li>Хонадоннинг 1 м2 нинг нархи ____________ сум. Томонларнинг келишувига мувофик хонадоннинг умумий нархи 315 000 000 (Уч юз ун беш   миллион) сўм. </li>
            <li>Бинонинг кадастр хужжатлари тайёр булгандан кейин ушбу шартноманинг 1.3-бандида курсатилган майдондан, кадастр хужжатидаги майдон билан солиштирганда маълум м2 фарк пайдо булган такдирда, яъни катта ёки кичик булган такдирда шартноманинг 1.4-бандида курсатилган 1 м2 учун ёзилган нарх буйича уртадаги фарк купайтириб ёки камайтириб кайта хисоб-китоб килинади. </li>
            <li>Бажариладиган ишлар юзасидан курилиш материаллари, бажарилган ишлар белгиланганидан ошиб кетса ёки нарх наво ўзгарса, уйнинг баҳоси ҳам мос равишда ўзгаради.</li>
            <li>Олувчи хонадон нархини 100 % олдиндан тўласа, хонадоннинг нархи ўзгармай колади. </li>
        </ul>
        <h2 class="Mulk">2.Сотувчининг мажбуриятлари</h2>
        <p>2.1. Шартномага мувофик барча ишларни ўз муддатида ўзини кучлари ёки жалб килинган кучлар билан турар жойни шартнома шартларига мувофик ўз вақтида топшириш мажбуриятини ўз зиммасига олади.
            2.2. Сотувчи куйидаги курилиш ишларини бажариш мажбуриятини олади:
            -Пойдевор ишлари (фундамент) -100%
            -Деворлар ва ўрта оралик деворларни гишт териш ишлари -100%
            -Бутун темир бетон, бетон, арматура ишлари -100%
            -Том бостирма ишлари -100%
            -ПВХ дераза ўрнатиш ишлари -100%
            -Полни цемент стяжка ишлари -100%
            -Хонадонга кириш ташки эшиклар, подьездга кириш эшиклари -100%
            -Зинапоя майдончаси ишлари -100%
            -Электромонтаж ишлари, газ, совуқ сув, канализация, квартирагача киритилади.
            -Фасад ишлари -100%
            -колган ишларни Олувчи уз маблаги хисобидан бажаради (иситиш тизими, ички электро монтаж ишлари,пардоз ишлари, ички дераза ва   эшиклар, пол, унитаз, умивальник, ванна сантехника ишлари ).
            2.3. Турар жой 2023 йилнинг 31 декабр кунига кадар қуриб битказилади.</p>
</div>

<div class='contract'>
    <h2 class="Mulk">Олувчининг мажбуриятлари</h2>
    <ul>
        <li>Олувчи шартнома имзолангандан кейин 5 иш куни мобайнида хонадоннинг умумий кийматидан              0% миқдорини закалат сифатида олдиндан тўлайди. </li>
        <li>Олувчи закалат пули тулангандан кейин колган хонадон хакини ___ ой мобайнида график асосида   Узбекистон Республикаси миллий валютасида нақд пул тўлаш, пул ўтказиш, пластик карточка ва ипотека кредити оркали амалга оширади.</li>
        <li>“Сотувчи”га  “Олувчи” курилиш давомида халакит бермайди ва курилиш ишларига аралашмайди.</li>
    </ul>
    <h2 class="Mulk">4.Ишларни бажариш</h2>
    <ul>
        <li>Сотувчи ишларни бажариш лойихасига ва мазкур шартномага мувофиклаштирилган уз режаси ва жадвалига биноан объектда ишларини бажаришни мустакил равишда ташкил килади.</li>
        <li>Сотувчи объектда ишларни олиб бориш тартибини Давлат архитектура курилиш назорати органлари билан ва унга риоя этилиши учун конун хужжатларида белгиланган тартибда жавоб беради.</li>
        <li>билан ва унга риоя этилиши учун конун хужжатларида белгиланган тартибда жавоб беради.</li>
    </ul>
    <h2 class="Mulk">Ишларни куриклаш</h2>
    <ul>
        <li>Тикланган бинолар ва иморатлар шунингдек материаллар асбоб ускуналар, объект кабул килиб олингандан кейин сакланиши учун Олувчи жавоб беради.</li>
    </ul>
    <h2 class="Mulk">6.Енгиб булмайдиган куч (форс-мажор) холатлари</h2>
    <ul>
        <li>Шартнома буйича мажбуриятлар кисман ёки тулик бажарилмаслиги табиат ходисалари ва бошка енгиб булмайдиган куч холатлари натижасида келиб чикса ва агар бу холатлар шартноманинг бажарилишига бевосита таъсир этса томонлар жавобгарликдан озод этиладилар.
        </li>
    </ul>
    <h2 class="Mulk">7.Кафолатлар</h2>
    <ul>
        <li>Сотувчи узи томонидан курилиш учун кулланиладиган курилиш материаллари, асбоб ускуналари ва бутловчи буюмлар конструкция ва тизим сифатини, уларнинг лойиха хужжатларида курсатилган сертификатцияларга Давлат стандартларига хамда техник шартларга мувофиклигини кафолатлайди.
            7.2. Ишларни кабул килиш ва объектдан фойдаланишнинг кафолатли даврида аникланган камчиликлар ва нуксонларни уз вактида бартараф килишни кафолатлайди.
            Нуксонлар улар аникланган такдирда бартараф этиш муддатлари Сотувчи ва Олувчининг икки томонлама далолатномасида кайд этилади.</li>
    </ul>
</div>


<div class="contract">

    <h2 class="Mulk">8.Курилиши тугалланган объектни кабул килиб олиш</h2>
    <ul>
        <li>Сотувчи уй жойни Давлат кабул комиссияси томонидан расмийлаштирилгандан кейин асосий олди-сотди шартномасини тузиш хакида Олувчини ёзма равишда хабардор килади.</li>
        <li>Олувчи олган хабарномага асосан олди-сотди шартномаси буйича ___ ой муддатда, гарафик асосида   хонадон хакини 100% (бир юз фоиз) тулаган булиши керак.</li>
    </ul>
    <h2 class="Mulk">9.Томонларнинг мулкий жавобгарлиги</h2>
    <ul>
        <li>Томонлардан бири шартнома мажбуриятларини бажармаган ёки зарур даражада бажармаган такдирда айбдор томон иккинчи томонга етказилган зарарларни коплайди</li>
        <li>Олувчининг айби билан асосий шартнома тузилмаса, олдиндан туланган сумма ушбу хонадон сотилгандан кейин кайтарилади.</li>
        <li>Сотувчини айби билан олди-сотди шартномаси тузилмаса 60 кун мобайнида хонадон учун туланган тулов Олувчига кайтарилади.</li>
        <li>Мазкур шартномага тегишли иловаларда курсатилган уз мажбуриятларига риоя килмаганлиги уз вактида молиялаштирилмаганлиги ва шартномада белгиланган бошка мажбуриятларни бузганлиги учун Олувчи Сотувчига кечиктирилган хар бир кун учун мажбуриятларни бажарилмаган кисмининг 0.4% микдорида пеня тулайди. Бунда пеняни умумий суммаси бажарилмаган ишлар ёки курсатилмаган хизматлар кийматини 50%( эллик фоиз)идан ошмаслиги лозим.</li>
        <li>Шартномага мувофик керакли хужжатларни тасдиклашдан асоссиз равишда бош тортганлиги учун Олувчи Сотувчига узи тасдиклашни рад этган ёки бош тортган суммани 0,4% микдорида жарима тўлайди. (исботланган тақдирда) 
            Олувчи томонидан топилган нуксонлар ва камчиликлар уз вактида бартараф этилмаганлиги учун Сотувчи сифатсиз бажарилган ишларни уз хисобидан бартараф қилиши керак.</li>
    </ul>
    <h2 class="Mulk">Шартномани бекор килиш</h2>
    <ul>
        <li>Олувчи томонидан шартномада курсатилган муддатларда молиялаштириш шартлари уз вактида амалга оширилмаса Сотувчи томонидан шартнома бекор килинади.</li>
        <li>Сотувчи томонидан курилиш меъёрлари ва коидаларида назарда тутилган ишларнинг сифати пасайишига олиб келадиган даражада бузилганда шартномани бекор килиш мумкин.</li>
        <li>Шартномани бекор килишга карор килган томон иккинчи томонга ёзма билдиришнома юборади.</li>
        <li>Шартномани бекор килинган такдирда айбдор томон иккинчи томонга етказилган зарарни шу жумладан бой берилган фойдани тулайди./li>
        <li></li>
        <h2 class="Mulk">Низоларни хал килиш</h2>
        <p>11.1 Шартномани бажаришда ва бекор килишда шунингдек етказилган зарарни коплашда пайдо буладиган низоли масалаларни томонлар узаро келишув асосида хал этолмаса «Урганч консалтинг ва медиация» жамияти хузуридаги хакамлик суди, фукаролик суди ва Хужалик судлари томонидан куриб чикилади.</p>
        
</div>


<div class="contract">
    <h2 class="Mulk">12. Алохида шартлар</h2>
        <ul>
            <li>Узбекистон Республикаси Фукаролик кодексининг 311,312-моддаларига асосан Олувчи нинг олдиндан тулаган закалат пули келгусида шартномада курсатилган мажбуриятларни бажаришни уз зиммасига олган деб тушунилади.</li>
            <li>Олувчига хонадон хакини тулик хисоблашгандан кейин мулк хукуки утади. Давлат руйхатидан шунингдек олди-сотди шартномаси буйича барча туловлар Олувчи томонидан амалга оширилади.</li>
            <li>Олувчи томонидан мазкур шартноманинг 9-булим 9.2 пунктида курсатилган мажбуриятлар бажарилмаган такдирда туланган сумманинг 5% Сотувчи нинг зарарини коплаш учун ушлаб колинади.</li>
        </ul>
    </ul>
    <h2 class="Mulk">Шартномани якуний булими</h2>
    <ul>
        <li>Ушбу шартнома имзолангандан кейин кучга киради ва томонлар уз хукук мажбуриятларини тулик бажаргунга кадар амал килади.
            Шартнома икки нусхада тузилди ва бир хил юридик кучга эга.</li>
    </ul>
    <div class="container1">
        <h2 class="section-title1">14.Томонларнинг манзилли ва реквизитлари</h2>
        <div class="details1">
            <div class="left-column1">
                <p class="mull"><strong>Сотувчи:</strong></p>
                <p class="mull">“XORAZM ELITE HOUSE” МЧЖ</p>
                <p class="mull">Худойберган кизи</p>
                <p class="mull"><strong>Манзил:</strong> Урганч ш. Фирдавси кч. 4-пр 116-уй</p>
                <p class="mull">Хонка туман уй</p>
                <p class="mull"><strong>Банк:</strong> «Ҳамкорбанк» Урганч филиали</p>
                <p class="mull">15.06.2023 йил</p>
                <p class="mull"><strong>Ҳ/Р:</strong> 2020 8000 6005 5246 7001 йил</p>
                <p class="mull"><strong>МФО:</strong> 00803</p>
                <p class="mull"><strong>ИНН:</strong> 306747710</p>
                <p class="mull">432-62-22; (99895) 252-49-49;</p>
                <p class="mull">Телефонлар:</p>
                <p class="mull">(99897) 525-66-66; (99897) 459-00-00;</p>
                <p class="mull">(99891) 431-07-70; (99899) 014-84-88;</p>
                <p class="signature1">
                    <strong>Раҳбар:</strong> ___________ Гапиров З.Б
                </p>
                <p class="signature1">
                    <strong>М.У.:</strong> ___________ (мўр)
                </p>
            </div>
            <div class="right-column1">
                <p class="mull"><strong>Олувчи:</strong></p>
                <p class="mull">Ф.И.Ш: {{ contract.full_name }}</p>
                <p class="mull"><strong>Манзил:</strong> Хоразм вил.</p>
                <p class="mull"><strong>паспорт серия:</strong> AD 111111</p>
                <p class="mull"><strong>берилган вакти:</strong> 15.06.2023</p>
                <p class="mull"><strong>берилган жойи:</strong> ПУ 33223</p>
                <p class="mull"><strong>телефонлар:</strong> ({{contract.}})</p>
                <p class="signature1">
                    <strong>___________</strong> (имзо)
                </p>
            </div>
        </div>
        <p class="footer-note1">Шартнома шартлари билан танишдим</p>
    </div>
</div>
</body>
<style>
    body {
    font-family: Arial, sans-serif;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.contract {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contract h1, .contract h2, .contract p {
    margin: 0 0 15px;
}

.Mulk , p {
    text-align: center;
} 

.contract h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 5px;
}

.contract h2 {
    font-size: 20px;
    margin-top: 20px;
}

.contract .signatures {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.contract .signatures .party {
    text-align: left;
}

.contract .signatures .party p {
    margin: 5px 0;
}
ul {
    align-items: center;
}






.perty {
    text-align: right;
    margin-top: 5px;
}

.section {
            margin: 50px 0;
        }
.info {
            margin-bottom: 10px;
        }
        .info span {
            font-weight: bold;
        }
        .signatures {
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
        }
        .signatures div {
            text-align: center;
        }
    








.mull {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    line-height: 0.8;
}

.container1 {
max-width: 800px;
margin: 0 auto;
}

.section-title1 {
    text-align: center;
    font-weight: bold;
}

.details1 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.left-column1, .right-column1 {
    width: 45%;
}

.signature1 {
    margin-top: 20px;
}

.footer-note1 {
    text-align: center;
    margin-top: 50px;
    font-style: italic;
}
</style>
</html>