.colorize-row {
    background-color: #fa0505 !important;
}

.custom-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    flex-direction: row-reverse;
    justify-content: space-between;
}
